{% extends "base.html" %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}

<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" aria-label="Log in to your account">Log in</button>
</form>

<p>
    <a href="{% url 'user:home' %}" class="btn btn-secondary" aria-label="Back to homepage">Back</a>
</p>
<p>
    <a href="{% url 'password_reset' %}" aria-label="Reset your password">Forgot password?</a>
</p>
<p>
    <a href="{% url 'user:signup' %}" class="btn" aria-label="Register a new account">Register</a>
</p>
{% endblock %}